/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Fondo con efecto difuminado */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEEEEE;
    /*background: linear-gradient(to right, #134374, #3b82f6);

     */
}

/* Contenedor del formulario */
.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 650px;
    height: 750px;
}

/* Título */
.login-container h2 {
    margin-bottom: 1rem;
    color: #134374;
    font-size: 50px;
}

/* Estilos para los labels */
.login-container label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
    font-size: 40px;
}

/* Campos de entrada */
.login-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 40px;
    outline: none;
    transition: border 0.3s ease-in-out;
}

.login-container input:focus {
    border: 1px solid #3b82f6;
}

/* Botón de inicio de sesión */
.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #134374;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.login-container button:hover {
    background: #3b82f6;
}

/* Enlace de registro */
.register-link {
    margin-top: 15px;
    font-size: 0.9rem;
}

.register-link a {
    color: #3b82f6;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
